@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black/30;
}

.glassmorphism {
  background: rgba(236, 231, 231, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.9px);
  -webkit-backdrop-filter: blur(14.9px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.animationPause{
  animation-play-state: paused;
}